---
title: Xinmin Labs - Contact Us
---

<div class="container" style="margin-top:20px;">
  <iframe height="557" width="450" allowTransparency="true" frameborder="0" scrolling="no" style="border:none"  src="https://xinminlabs.wufoo.com/embed/z19zmlma0qdvefj/"><a href="https://xinminlabs.wufoo.com/forms/z19zmlma0qdvefj/">Fill out my Wufoo form!</a></iframe><div id="wuf-adv" style="font-family:inherit;font-size: small;color:#a7a7a7;text-align:center;display:block;">HTML Forms powered by <a href="http://www.wufoo.com">Wufoo</a></div>
</div>
