<%= image_tag 'banner.jpg', width: "100%" %>

<section class="intro">
  <div class="container">
    <h2>We build web and mobile applications.</h2>
    <p>Specializing in <strong>Ruby on Rails, Node.js, Object-C, and Performnce Tuning</strong></p>
    – our work is as powerful as it is beautiful.
  </div>
</section>

<div class="container">
  <div class="row testimonials">
    <div class="col-xs-6 testimonial">
      <p class="quote">"Xinmin Labs has been a driving force behind our customer facing web application. Coming on board at project launch time, Richard and the team have been instrumental in optimising our application for stability and speed. What started out as a simple support and bug hunting contract has grown into a full stack development relationship, with Xinmin labs making our new ideas and extra features become a reality. After going around the block with so many other ‘rails labs’, I can sincerely say that Ximni is the real deal – delivering quality code on time and on budget."</p>
      <p class="referrer text-right">
        <span class="name">Toby Ovadia</span>,
        <span class="title">GM at Smart Records Group</span>
      </p>
    </div>
    <div class="col-xs-6 testimonial">
      <p class="quote">"Having worked closely with the founder of Xinmin Labs in the past so they were the obvious choice for building out the back-end of for startup. They quickly produce high quality code at a reasonable price, which is well architected and easy to maintain and scale. I'd definitely use them again given the opportunity."</p>
      <p class="referrer text-right">
        <span class="name">Jakob Wilkenson</span>,
        <span class="title">CEO at Awear Inc.</span>
      </p>
    </div>
  </div>
  <div class="text-center">
    <a class="btn btn-lg btn-success hire-us-btn" href="/contact">
      WANT US TO WORK FOR YOU?
      <span>Click here to contact us</span>
    </a>
  </div>
</div>
