<%= image_tag 'banner.jpg', width: "100%" %>

<section class="intro">
  <div class="container">
    <h2>We build web and mobile applications.</h2>
    <p>Specializing in <strong>Ruby on Rails, Node.js, Object-C, and Performnce Tuning</strong></p>
    – our work is as powerful as it is beautiful.
  </div>
</section>

<div class="container">
  <div class="text-center">
    <a class="btn btn-lg btn-success hire-us-btn" href="/contact">
      WANT US TO WORK FOR YOU?
      <span>Click here to contact us</span>
    </a>
  </div>
</div>
