---
title: Xinmin Labs - Our Work
---

.container style="margin-top:20px;"
  article.project#thumbine
    header
      h3 Thumbine
      p Thumbine is the easiest app distribution mechanism that everyone knows how to use.
    section.screenshot
      = link_to image_tag('thumbine-screenshot.png'), 'http://www.thumbine.com'

  article.project#designapis
    header
      h3 Design APIs
      p Makes it much easier to design apis!
    section.screenshot
      = link_to image_tag('designapis-screenshot.png'), 'http://designapis.com'

  article.project#conferences-box
    header
      h3 Conferences Box
      p Conferences Box collects videos and slides from technology conferences, so that you can learn the new technologies even if you didn't attend the conference.
    section.screenshot
      = link_to image_tag('conferences-box-screenshot.png'), "https://itunes.apple.com/us/app/conferences-box/id594774178?mt=8"
