---
title: Xinmin Labs - Our Work
---

<div class="container" style="margin-top:20px;">
  <article class="project" id="thumbine">
    <header>
      <h3>Thumbine</h3>
      <p>Thumbine is the easiest app distribution mechanism that everyone knows how to use.</p>
    </header>
    <section class="screenshot">
      <a href="http://www.thumbine.com">
        <%= image_tag 'thumbine-screenshot.png' %>
      </a>
    </section>
  </article>
  <article class="project" id="designapis">
    <header>
      <h3>Design APIs</h3>
      <p>Makes it much easier to design apis!</p>
    </header>
    <section class="screenshot">
      <a href="http://designapis.com">
        <%= image_tag 'designapis-screenshot.png' %>
      </a>
    </section>
  </article>
  <article class="project" id="conferences-box">
    <header>
      <h3>Conferences Box</h3>
      <p>Conferences Box collects videos and slides from technology conferences, so that you can learn the new technologies even if you didn't attend the conference.</p>
    </header>
    <section class="screenshot">
      <a href="https://itunes.apple.com/us/app/conferences-box/id594774178?mt=8">
        <%= image_tag 'conferences-box-screenshot.png' %>
      </a>
    </section>
  </article>
</div>
